In [1]:
import pandas as pd

In [2]:
df_steam = pd.read_csv("steam.csv")
df_steam.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

### 1 - TRANSFORMAR AS DATAS EM DATETIME DO PANDAS

In [3]:
df_steam_date = df_steam['release_date']

In [4]:
df_steam_date

0        2000-11-01
1        1999-04-01
2        2003-05-01
3        2001-06-01
4        1999-11-01
            ...
27070    2019-04-24
27071    2019-04-23
27072    2019-04-24
27073    2019-04-17
27074    2019-04-24
Name: release_date, Length: 27075, dtype: object

In [5]:
df_steam_date = pd.to_datetime(df_steam_date)

In [6]:
df_steam['release_date'] = df_steam_date
df_steam['release_date']

0       2000-11-01
1       1999-04-01
2       2003-05-01
3       2001-06-01
4       1999-11-01
           ...
27070   2019-04-24
27071   2019-04-23
27072   2019-04-24
27073   2019-04-17
27074   2019-04-24
Name: release_date, Length: 27075, dtype: datetime64[ns]

### 2 - VERIFICANDO SE HÁ DADOS NULOS NO DATASET

In [7]:
df_steam.isnull().sum(axis = 0)

appid               0
name                0
release_date        0
english             0
developer           0
publisher           0
platforms           0
required_age        0
categories          0
genres              0
steamspy_tags       0
achievements        0
positive_ratings    0
negative_ratings    0
average_playtime    0
median_playtime     0
owners              0
price               0
dtype: int64

In [8]:
df_steam.isnull().sum(axis = 1)

0        0
1        0
2        0
3        0
4        0
        ..
27070    0
27071    0
27072    0
27073    0
27074    0
Length: 27075, dtype: int64

### 3 - APLICANDO NA COLUNA OWNERS A MÉDIA ENTRE OS 2 VALORES, COMO INDICADO NOS DETALHES DO DATASET

In [9]:
df_steam['owners'] = df_steam['owners'].apply(lambda x: (int(x.split('-')[0]) + int(x.split('-')[1]))/2)

### 4 - RETIRANDO LINHA COM DADOS CORROMPIDOS

In [10]:
df_steam = df_steam.drop(index=[6258,6259])

### 5 - ADICIONANDO 3 NOVAS COLUNAS(WINDOWS, LINUX, MAC) COMO TRANSFORMAÇÃO DE DADOS CATEGÓRICOS DA COLUNA 'platforms' PARA BINÁRIOS

In [11]:
df_steam["windows"]=[1 if "windows" in x else 0 for x in df_steam["platforms"]]
df_steam["linux"]=[1 if "linux" in x else 0 for x in df_steam["platforms"]]
df_steam["mac"]=[1 if "mac" in x else 0 for x in df_steam["platforms"]]

### 6 - ADICIONANDO COLUNA RATING POSITIVOS EM PORCENTAGEM E ADICIONANDO A COLUNA RATING TOTAL

In [12]:
df_steam["rating"]=df_steam["positive_ratings"]/(df_steam["positive_ratings"]+df_steam["negative_ratings"])*100
df_steam["totalRatings"]=df_steam["positive_ratings"]+df_steam["negative_ratings"]